BasedOnStyle: LLVM
IndentWidth: 8
ColumnLimit: 0
UseTab: ForIndentation
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
AlignConsecutiveAssignments: true
Cpp11BracedListStyle: false
SortIncludes: false
