*~
*.a
*.o
*.1
*.8
autom4te.cache
Makefile.in
!po/Makefile.in
aclocal.m4
config.h
config.guess
config.status
config.sub
config.log
configure
stamp-h1
depcomp
install-sh
missing
Makefile
src/.deps
src/chvt
src/clrunimap
src/deallocvt
src/dumpkeys
src/fgconsole
src/getkeycodes
src/getunimap
src/kbd_mode
src/kbdinfo
src/kbdrate
src/loadkeys
src/loadunimap
src/mapscrn
src/openvt
src/outpsfheader
src/psfxtable
src/resizecons
src/screendump
src/setfont
src/setkeycodes
src/setleds
src/setlogcons
src/setmetamode
src/setpalette
src/setvesablank
src/setvtrgb
src/showconsolefont
src/showkey
src/spawn_console
src/spawn_login
src/loadkeys.analyze.c
src/loadkeys.analyze.h
src/loadkeys.parse.c
src/loadkeys.parse.h
