*~
*.a
*.o
*.1
*.l[ao]
*.8
*.gcda
*.gcno
!po/Makefile.in
.deps
.libs
.lsp.data
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
aminclude_static.am
autom4te.cache
compile_commands.json
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
config/ar-lib
config/compile
config/config.rpath
config/ltmain.sh
config/mkinstalldirs
config/ylwrap
configure
coverage
coverage.info
data/*_Z
depcomp
docs/reference/libkeymap/Doxyfile
docs/reference/libkeymap/html
install-sh
libtool
m4/*.m4
missing
src/chvt
src/clrunimap
src/deallocvt
src/dumpkeys
src/fgconsole
src/getkeycodes
src/getunimap
src/kbd_mode
src/kbdinfo
src/kbdrate
src/libkeymap/analyze.c
src/libkeymap/analyze.h
src/libkeymap/libkeymap.pc
src/libkeymap/parser.c
src/libkeymap/parser.h
src/libkeymap/syms.cp1250.h
src/libkeymap/syms.iso8859_15.h
src/libkeymap/syms.iso8859_5.h
src/libkeymap/syms.iso8859_7.h
src/libkeymap/syms.iso8859_8.h
src/libkeymap/syms.iso8859_9.h
src/libkeymap/syms.koi8.h
src/libkeymap/syms.latin1.h
src/libkeymap/syms.latin2.h
src/libkeymap/syms.latin3.h
src/libkeymap/syms.latin4.h
src/libkfont/libkfont.pc
src/loadkeys
src/loadunimap
src/mapscrn
src/openvt
src/outpsfheader
src/psfxtable
src/resizecons
src/screendump
src/setfont
src/setkeycodes
src/setleds
src/setlogcons
src/setmetamode
src/setpalette
src/setvesablank
src/setvtrgb
src/showconsolefont
src/showkey
src/spawn_console
src/spawn_login
stamp-h1
tests/*.log
tests/*.trs
tests/atconfig
tests/atpackage
tests/helpers/libkeymap-bkeymap
tests/helpers/libkeymap-dumpkeys
tests/helpers/libkeymap-mktable
tests/helpers/libkeymap-showmaps
tests/libcommon/libcommon-test[0-9][0-9]
tests/libkbdfile/libkbdfile-test[0-9][0-9]
tests/libkeymap/libkeymap-test[0-9][0-9]
tests/testsuite
