*~
*.a
*.o
*.1
*.l[ao]
*.8
*.gcda
*.gcno
.deps
.libs
coverage
coverage.info
autom4te.cache
Makefile.in
!po/Makefile.in
aclocal.m4
aminclude_static.am
config.cache
config.h
config.h.in
config.guess
config.status
config.sub
config.log
config/ar-lib
config/ltmain.sh
configure
stamp-h1
depcomp
install-sh
libtool
missing
Makefile
m4/*.m4
docs/reference/libkeymap/Doxyfile
docs/reference/libkeymap/html
src/chvt
src/clrunimap
src/deallocvt
src/dumpkeys
src/fgconsole
src/getkeycodes
src/getunimap
src/kbdinfo
src/kbd_mode
src/kbdrate
src/libkeymap/analyze.c
src/libkeymap/analyze.h
src/libkeymap/libkeymap.pc
src/libkeymap/parser.c
src/libkeymap/parser.h
src/libkeymap/syms.cp1250.h
src/libkeymap/syms.iso8859_15.h
src/libkeymap/syms.iso8859_5.h
src/libkeymap/syms.iso8859_7.h
src/libkeymap/syms.iso8859_8.h
src/libkeymap/syms.iso8859_9.h
src/libkeymap/syms.koi8.h
src/libkeymap/syms.latin1.h
src/libkeymap/syms.latin2.h
src/libkeymap/syms.latin3.h
src/libkeymap/syms.latin4.h
src/loadkeys
src/loadunimap
src/mapscrn
src/openvt
src/outpsfheader
src/psfxtable
src/resizecons
src/screendump
src/setfont
src/setkeycodes
src/setleds
src/setlogcons
src/setmetamode
src/setpalette
src/setvesablank
src/setvtrgb
src/showconsolefont
src/showkey
src/spawn_console
src/spawn_login
tests/*.log
tests/*.trs
tests/atconfig
tests/atpackage
tests/helpers/libkeymap-bkeymap
tests/helpers/libkeymap-dumpkeys
tests/helpers/libkeymap-mktable
tests/helpers/libkeymap-showmaps
tests/libkbdfile/libkbdfile-test[0-9][0-9]
tests/libkeymap/libkeymap-test[0-9][0-9]
tests/testsuite
