name: CI
on:
  push:
    branches:
      - master
      - for-master
      - github-ci
    tags:
      - v*
  pull_request:
    branches:
      - master
      - for-master
jobs:
  check_commits_job:
    name: "Check commits"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: "env"
        run: env
      - name: "Developer's Certificate of Origin"
        run: |
          echo
          echo 'Commits to check:'
          git log --pretty='%H%x09%s%x09%ce%x09-%(trailers:key=Signed-off-by,valueonly,separator=%x00)' origin/$GITHUB_REF_NAME..HEAD |
             tee /tmp/commits |
             cut -f1,2
          echo ''
          if grep -e '-$' /tmp/commits | cut -f1,2 | grep -e '^' > /tmp/bad-commits; then
             echo 'Ð¡ommits that fail verification:'
             cat /tmp/bad-commits
             echo ''
             echo 'The DCO Signoff Check for all commits has FAILED.'
             echo 'See https://github.com/legionus/kbd/blob/master/docs/process/howto-contribute.md#patches='
             echo ''
             exit 1
          fi


  distcheck_job:
    name: "Distcheck"
    runs-on: ubuntu-20.04
    needs: [ check_commits_job ]
    steps:
    - name: "Check out repository"
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: "Install dependencies"
      run: |
        sudo apt-get update  -y -qq
        sudo apt-get install -y -qq gcc autoconf automake autopoint libtool libpam0g-dev bison flex gettext
    - name: "Configure"
      run: |
        ./autogen.sh
        ./configure --datadir="$PWD/data" --enable-optional-progs --enable-libkeymap --enable-libkfont
    - name: "Build"
      run: |
        make V=1
    - name: "Distcheck"
      run: |
        sudo -E make distcheck

  build_job:
    name: "Check with ${{ matrix.compiler }} / ${{ matrix.libc }}"
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            cc: gcc
            compiler: gcc
            libc: glibc
            configure: --enable-libkeymap --enable-libkfont
            check: unittest e2e
          - os: ubuntu-20.04
            cc: clang
            compiler: clang
            libc: glibc
            configure: --enable-libkeymap --enable-libkfont
            check: unittest e2e
          - os: ubuntu-20.04
            cc: musl-gcc -static -idirafter /usr/include/ -idirafter /usr/include/x86_64-linux-gnu/
            compiler: gcc
            libc: musl
            configure: --disable-libkeymap --disable-vlock
            check: unittest
    runs-on: ${{ matrix.os }}
    needs: [ distcheck_job ]
    env:
      CC: ${{ matrix.cc }}
      CHECK_KEYWORDS: ${{ matrix.check }}
      SANDBOX: priviliged
      TTY: /dev/tty60
    steps:
    - name: "Check out repository"
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: "Install dependencies"
      run: |
        sudo apt-get update  -y -qq
        sudo apt-get install -y -qq autoconf automake autopoint libtool libpam0g-dev bison flex gettext kbd
        sudo apt-get install -y -qq gcc clang musl musl-dev musl-tools
    - name: "Prepare TTY"
      run: |
        TTY=/dev/tty60
        sudo chmod 666 $TTY
        sudo kbd_mode -f -u -C $TTY
    - name: "Configure"
      run: |
        ./autogen.sh
        ./configure --datadir="$PWD/tests/data" --enable-optional-progs ${{ matrix.configure }}
    - name: "Build"
      run: |
        make V=1
    - name: "Check"
      run: |
        sudo -E make check < $TTY
    - name: "Upload artifacts"
      if: failure()
      uses: actions/upload-artifact@v2
      with:
        name: test-logs
        path: |
          config.log
          tests/testsuite.log
